
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */

.text-center{
  text-align: center;
}

.secondery-bg{

  background-color:#FFF8F3;
}



  .text-primary{
    color: #FD6E0A;
  } 
  .dark-2{
    color: #474747;
  } 
  .section-tital{
font-size: 35px;
font-weight: bold;
color: #181818;

  }
.section-description{
font-size: 18px;
font-weight:;
color: #757575;


}



  
  .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color:white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
  }
/* header style */
.header{
  background-image:url('../images/developer.png') , url(../images/header_bg.png);
  background-repeat:no-repeat ;
  background-position: top left, bottom right;
}

/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-tital{
font-weight: 800;
font-size: 45px;
}

nav ul li {
   list-style: none;
   margin-right: 51px;
}
nav li a  {
    text-decoration: none;
    font-size: 20px;
    
}
nav ul{
    display: flex;
    align-items: center;

}
/* bannar style */

.bannar{
display: flex;
justify-content: space-between;
margin: 0 35px 0 230px;

}
.bannar-content{
  max-width: 585px;
  height: 356px;

}

.bannat-greetings{
  font-size: 45px;
  font-weight: 600px;

}
.bannar-tital{
color:#181818;
font-size: 85px;
font-weight: bold;

}
.bannar-profile-pic{
width: 584px;
height: 676px;
            
}
/* main-style */
main{
max-width: 1140px;
  margin: auto;
}

.main-section{
  margin-top: 135px;
  margin-bottom: 135px;
}

/* about-style */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  

}
.about-items{
  display: flex;
  justify-content: space-around;

}
.item-description{
  font-weight: 700;
}
.skills-container{
display: flex;
gap: 24px;
}
.skill{
padding:30px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
border-radius: 5px;

}
/* resume-section-style */

.resume-container{

  display: flex;
  gap: 24px;
}

.experience-description,.experience-sub-tital{

  color:#757575;
}

.experience-sub-tital{
  font-size: 20px;
}

.experience-tital{

  color: #474747;
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* footer style */
footer{

  padding: 130px 230px;
gap: 100px;
  display: flex;
 }
 .footer-column{

  width: 50%;
 }


footer input[type="text"],footer input[type="email"],     footer textarea{
height: 64px;
border-radius: 5px;
background-color: white;
display: block;
width: 100%;
padding: 10px 20px;
margin-bottom: 24px;
font-size:16px;
border: none;

}
